@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.highlight {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #23aa2c;
  margin-top: 20px;
}

.highlight:last-of-type {
  margin-bottom: 20px;
}

.language-label {
  font-weight: bold;
  margin-right: 4px;
}
