<div>
    <button (click)="handleConnect()" [disabled]="isConnecting" title="Connect">
        {{isConnecting
        ? "Connecting..."
        : isConnected
        ? "Disconnect"
        : "Connect"}}
    </button>
    <span (click)="toggleRecording()" [hidden]="!isConnected">
        @if (isRecording) {
        <img src="/images/microphone-on.svg" alt="Mic On" title="Mic On" class="microphone">
        }
        @else {
        <img src="/images/microphone-off.svg" alt="Mic Off" title="Mic Off" class="microphone">
        }
    </span>
    <span (click)="toggleAudio()" [hidden]="!isConnected">
        @if (!isAudioOff) {
        <img src="/images/speaker-on.svg" alt="Mic On" title="Mic On" class="speaker">
        }
        @else {
        <img src="/images/speaker-off.svg" alt="Mic Off" title="Mic Off" class="speaker">
        }
    </span>
</div>

<br />

<div [hidden]="!isConnected">
    <div>
        @for (message of messages; track message.id) {
        <div>
            {{message.content}}
        </div>
        }
        <div #messagesEnd></div>
    </div>

    <div>
        <br /><br />
        <input [value]="currentMessage" (input)="onInputChange($event)" placeholder="Type your message..."
            (keyup.enter)="sendMessage()" [disabled]="!isConnected" />
        <button (click)="sendMessage()" [disabled]="!isConnected" title="Send Message">
            Send Message
        </button>
    </div>
</div>