OPENAI_API_KEY=
OPENAI_ENDPOINT=
OPENAI_DEPLOYMENT=gpt-4o-realtime-preview
OPENAI_API_VERSION=2024-10-01
BACKEND=azure

# Run this to create a new role assignment required for DefaultAzureCredential to work locally
# To get the logged in principal ID, run: az rest --method GET --url "https://graph.microsoft.com/v1.0/me" --query "id" 
# or az ad signed-in-user show --query objectId -o tsv (if this doesn't work use the REST command)

# Then run this to add the role to the user principal
# az role assignment create \
#   --role "Cognitive Services OpenAI Contributor" \
#   --assignee-object-id "<OBJECT_ID>" \
#   --scope "/subscriptions/<SUBSCRIPTION_ID>/resourceGroups/<RESOURCE_GROUP>" \
#   --assignee-principal-type User