<div class="controls-container">
  <button (click)="connect()" [disabled]="(realtimeManagerService.isConnecting$ | async)!"
    title="{{ (realtimeManagerService.isConnected$ | async) ? 'Disconnect' : 'Connect' }}">
    @if (realtimeManagerService.isConnecting$ | async) {
    Connecting...
    } @else if (realtimeManagerService.isConnected$ | async) {
    Disconnect
    } @else {
    Connect
    }
  </button>

  @if (this.realtimeManagerService.isConnected$ | async) {
  <span class="chat-toolbar">
    <!-- Microphone with dropdown arrow -->
    <div class="mic-container">
      <span (click)="toggleRecording()">
        @if (realtimeManagerService.isRecording$ | async) {
        <img src="/images/microphone-on.svg" alt="Mic On" title="Mic On" class="microphone">
        }
        @else {
        <img src="/images/microphone-off.svg" alt="Mic Off" title="Mic Off" class="microphone">
        }
      </span>

      <!-- Dropdown trigger -->
      @if (availableMicrophones.length > 0) {
      <button mat-icon-button [matMenuTriggerFor]="micMenu" title="Select Microphone" class="dropdown-arrow no-border">
        <mat-icon class="custom-dropdown-icon">arrow_drop_down</mat-icon>
      </button>

      <!-- Dropdown Menu -->
      <mat-menu #micMenu="matMenu">
        @for (mic of availableMicrophones; track mic.deviceId; let i = $index) {
        <button mat-menu-item [class.selected]="mic.deviceId === selectedMicrophoneId"
          (click)="selectMicrophone(mic.deviceId)">
          {{ mic.label || 'Microphone ' + (i + 1) }}
          @if (mic.deviceId === selectedMicrophoneId) {
          <mat-icon>check</mat-icon>
          }
        </button>
        }
      </mat-menu>
      }
    </div>

    <span (click)="toggleAudio()">
      @if (realtimeManagerService.isAudioOn$ | async) {
      <img src="/images/speaker-on.svg" alt="Speaker On" title="Speaker On" class="speaker">
      }
      @else {
      <img src="/images/speaker-off.svg" alt="Speaker Off" title="Speaker Off" class="speaker">
      }
    </span>

    @if (showMessageInput) {
    <span class="input-group">
      <br /><br />
      <input [value]="currentMessage" (input)="onInputChange($event)" placeholder="Type your message..."
        (keyup.enter)="sendMessage()" />
      &nbsp;&nbsp;
      <button (click)="sendMessage()" title="Send Message">
        Send
      </button>
    </span>
    }
  </span>
  }
</div>